body{
    width: 100vw; 
    height: 90vh; 
    background-color: #4f4c4c
}

.Titulo{
    position: relative;
    width: 1000px;
    height: 190px;
    margin: 0 auto;
}

header{
    background-color: #4f4c4c;
}
.box0{
    display: flex;


}

.botaoJogo{
    background-color: rgba(255, 255, 0, 0.942);

}
.Titulo h1{
    font-family: keania one;
    background-color: #fffdfd;
    border: 10px solid #d9d9d9;
    border-radius: 20px;
    margin: 0 0 0 10px;
}

nav{
    position: relative;
    top: 10px;
}
nav li{
    display: inline;
    color: black;
    font-weight: bold;
    font-size: 22px;
    padding: 5px 5px;
    margin: 0 0 0 100px;

    background-color: #fffdfd;
    border: 6px solid #00c2cb;
    border-radius: 20px;

}

nav a{
    text-decoration: none;
}
.Produtos{
    width: 940px;
    margin: 0 auto;

}

.telaJogo{
    margin: 0 auto;

}

.Produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background-color: #fffdfd;
    margin: 1.5% 1.5%;
    padding: 20px 20px;
    box-sizing: border-box;

    border: 6px solid #00c2cb;
    border-radius: 20px;
    
}
.Produtos h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'inter';
}

.marca{
    font-style: 16px;
    font-weight: bold;
    font-family: 'robot';
}

.descricao{
    font-style: 16px;
    font-family: 'robot';
}

.preco{
    font-style: 16px;
    font-weight: bold;
    font-family: 'robot';
}
.alfabeto { /*style alfabeto*/
    width: 30px;
    height: 30px;
    margin: 3px;
    border-radius: 10px;
    font-weight: 600;
}

#cabecalho{ /*style container img*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: blanchedalmond;
}
.box1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box2{
    flex-grow: 1;
    flex-direction: column;
    margin-left: 10px;
}
#imagem{ /*div img*/
   /* background-image: url("HomemDeFerroFundo.png"); */
    background-repeat: no-repeat;
    width: 120px;
    padding: 1%;
    display:flex;
    align-items: center;
   
    justify-content: center;

    flex-grow: 4;
    
   
}
 
#HomemDeFerro{ /*style homem de ferro*/
    max-width: 20%;
   
}


/* h1{
    color: aliceblue;
    text-align: center;
} */
.box3{
    flex-grow: 1;
}
#palavraFormada{ /*style palavra*/
    color: blanchedalmond;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.letras{  /*style alinhamento letras*/
    text-align: center;


}
#jogar{ /*div botão jogar*/
    text-align: center;
    margin-top: 50px;
   
}
#botaoJogar{ /*fonte botão*/
    font-size: 17px;
}

#erradas{ /*style letras erradas*/
    color: blanchedalmond;
    margin: 0px;
    font-size: 20px;
    

}
#msgErro{
    color: blanchedalmond;
    margin: 15px;
    font-size: 35px;

}

#textoauxiliar{
    color: blanchedalmond;
}
#lampada{ /*tamanho imagem dica*/
    width: 30px;
}
#dicas{ /*style dicas*/
    color: blanchedalmond;
    margin: 15px;
    margin-top: 60px;
    font-size: 20px;
}

#dicasNumeradas {
    height: 100px;
    margin: 25px;

}

//*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
}
